<% content_for :title, "Editing service" %>

<h1>Editing service</h1>

<%= render "form", service: @service %>

<br>

<div>
  <%= link_to "Открыть", @service %> |
  <%= link_to "Назад к сервисам", services_path %>
</div>
