<% content_for :title, "Членства в командах" %>

<h1>Членства в командах</h1>

<div id="team_memberships">
  <% @team_memberships.each do |team_membership| %>
    <%= render team_membership %>
    <p>
      <%= link_to "Открыть", team_membership %>
    </p>
  <% end %>
</div>

<%= link_to "Создать членство", new_team_membership_path %>
