image: ruby:3.4.7

variables:
  BUNDLE_PATH: "vendor/bundle"
  BUNDLE_WITHOUT: ""
  RAILS_ENV: "test"

cache:
  key: "bundler-${CI_COMMIT_REF_SLUG}"
  paths:
    - vendor/bundle

stages:
  - lint
  - security

before_script:
  - apt-get update -qq
  - apt-get install --no-install-recommends -y build-essential git libpq-dev
  - rm -rf /var/lib/apt/lists /var/cache/apt/archives
  - bundle config set path "$BUNDLE_PATH"
  - bundle install -j "$(nproc)" --retry 3

rubocop:
  stage: lint
  script:
    - bundle exec rubocop --parallel

brakeman:
  stage: security
  script:
    - bundle exec brakeman -q -w2

bundler_audit:
  stage: security
  script:
    - bundle exec bundler-audit check --update

