<% content_for :title, "Пользователи" %>

<h1>Пользователи</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Открыть", user %>
    </p>
  <% end %>
</div>

<% if user_signed_in? && current_user.role == 'admin' %>
  <%= link_to "Создать пользователя", new_user_path %>
<% end %>
