<%= render @user %>

<div>
  <%= link_to "Редактировать", edit_user_path(@user) %> |
  <%= link_to "Назад к пользователям", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
