<%= render @result %>

<div>
  <%= link_to "Редактировать", edit_result_path(@result) %> |
  <%= link_to "Назад к результатам", results_path %>

  <%= button_to "Destroy this result", @result, method: :delete %>
</div>
