<div id="<%= dom_id result %>">
  <p>
    <strong>Game:</strong>
    <%= result.game_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= result.team_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= result.score %>
  </p>

</div>
