<% content_for :title, "Editing result" %>

<h1>Editing result</h1>

<%= render "form", result: @result %>

<br>

<div>
  <%= link_to "Открыть", @result %> |
  <%= link_to "Назад к результатам", results_path %>
</div>
