<% content_for :title, "Новый результат" %>

<h1>Новый результат</h1>

<% if @result.game_id.present? && (@available_teams && @available_teams.empty?) %>
  <p style="color:#666;">Все команды уже имеют результат для выбранной игры.</p>
<% end %>

<%= render "form", result: @result %>

<br>

<div>
  <%= link_to "Назад к результатам", results_path %>
</div>
