<% content_for :title, "Игры" %>

<h1>Игры</h1>

<% if user_signed_in? && current_user.role == 'admin' %>
  <div style="margin: 8px 0 12px 0;">
    <%= link_to "Создать игру", new_game_path, class: 'btn primary' %>
  </div>
<% end %>

<% if @ongoing_games.any? %>
  <h2>Идут сейчас</h2>
  <div id="ongoing-games" class="list">
    <% @ongoing_games.each do |game| %>
      <%= render game %>
    <% end %>
  </div>
<% end %>

<% if @upcoming_games.any? %>
  <h2>Скоро</h2>
  <div id="upcoming-games" class="list">
    <% @upcoming_games.each do |game| %>
      <%= render game %>
    <% end %>
  </div>
<% end %>

<% if @past_games.any? %>
  <h2>Прошедшие</h2>
  <div id="past-games" class="list">
    <% @past_games.each do |game| %>
      <%= render game %>
    <% end %>
  </div>
<% end %>
