<% content_for :title, "Services" %>

<h1>Services</h1>

<div id="services">
  <% @services.each do |service| %>
    <%= render service %>
    <p>
      <%= link_to "Show this service", service %>
    </p>
  <% end %>
</div>

<% if user_signed_in? && current_user.role == 'admin' %>
  <%= link_to "New service", new_service_path %>
<% end %>
