<div id="<%= dom_id university %>">
  <div class="row">
    <%= avatar_image_tag(university.name, url: university.avatar_url) %>
    <div>
      <p><strong><%= university.name %></strong></p>
      <% if university.site_url.present? %>
        <% if (u = safe_http_url(university.site_url)) %>
          <p class="muted"><%= link_to u, u, target: '_blank', rel: 'noopener' %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
