<div id="<%= dom_id university %>">
  <div class="row">
    <%= avatar_image_tag(university.name, url: university.avatar_url) %>
    <div>
      <p><strong><%= university.name %></strong></p>
      <% if university.site_url.present? %>
        <p class="muted"><%= link_to university.site_url, university.site_url, target: '_blank', rel: 'noopener' %></p>
      <% end %>
    </div>
  </div>
</div>
