<% content_for :title, "Editing university" %>

<h1>Editing university</h1>

<%= render "form", university: @university %>

<br>

<div>
  <%= link_to "Открыть", @university %> |
  <%= link_to "Назад к университетам", universities_path %>
</div>
