<% content_for :title, "Новый университет" %>

<h1>Новый университет</h1>

<%= render "form", university: @university %>

<br>

<div>
  <%= link_to "Назад к университетам", universities_path %>
</div>
